.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.js.map
/themes/

# Folders and files to ignore
node_modules/*

assets/bootstrap/

# assets/scss-rfi/_bs-example.scss
# assets/scss-rfi/core.scss
# assets/scss-rfi/_fonts.scss
assets/scss-rfi/_footer.scss
assets/scss-rfi/_homepage-rfi.scss
assets/scss-rfi/_hugolist.scss
assets/scss-rfi/_layouts-list.scss
assets/scss-rfi/_layouts-single.scss
assets/scss-rfi/_navbar.scss
assets/scss-rfi/_placeholder-img.scss
# assets/scss-rfi/_refreshing.scss
# assets/scss-rfi/_sidebar.scss
assets/scss-rfi/_syntax-monokai.scss
# assets/scss-rfi/_syntax-monokailight.scss
# assets/scss-rfi/_variables.scss

content/
# исключаются только b6_ и.или s8_
#!не распространяется на b6- и s8-
b6_*
g8_*
bslast-*

static/images
static/js/bootstrap.bundle.min.js.map
static/css

bootstrap.bundle.min.js.map

example_*
public/
@_site/

wMedia/

# Вспомогательные директории и файлы
*.log*
node_modules/
resources/
vDevs/
wREADME.md

# Файлы редактора VScode
.vscode
