{{- $js1 := resources.Get "js/bootstrap.bundle.min.js" -}}
{{- $js2 := resources.Get "js/custom.js" -}}


{{- if .Site.Params.jsMinify -}}
    {{- $js1 = $js1 | resources.Minify -}}
    {{- $js2 = $js2 | resources.Minify -}}
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  {{- $js1 = $js1 | resources.Fingerprint -}}
  {{- $js2 = $js2 | resources.Fingerprint -}}
{{- end -}}


{{- if .Site.Params.jsIntegrity -}}
  <script src="{{- $js1.Permalink | relURL -}}" integrity="{{- $js1.Data.Integrity -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}" integrity="{{- $js2.Data.Integrity -}}"></script>
{{- else -}}
  <script src="{{- $js1.Permalink | relURL -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}"></script>
{{- end -}}
<!-- dark-mode -->
<script>
var darkSwitch=document.getElementById("darkSwitch");window.addEventListener("load",(function(){if(darkSwitch){initTheme();darkSwitch.addEventListener("change",(function(){resetTheme()}))}}));function initTheme(){var darkThemeSelected=localStorage.getItem("darkSwitch")!==null&&localStorage.getItem("darkSwitch")==="dark";darkSwitch.checked=darkThemeSelected;darkThemeSelected?document.body.setAttribute("data-theme","dark"):document.body.removeAttribute("data-theme")}function resetTheme(){if(darkSwitch.checked){document.body.setAttribute("data-theme","dark");localStorage.setItem("darkSwitch","dark")}else{document.body.removeAttribute("data-theme");localStorage.removeItem("darkSwitch")}}
</script>
